@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

.value {
  fill: #675f69;
  font-family: 'Roboto', sans-serif;
}

.title {
  fill: #675f69;
  font-family: 'Roboto', sans-serif;
}

.bottomText {
  fill: #675f69;
  font-family: 'Roboto', sans-serif;
}
